{% extends "layout.html" %}
{% block body %}
  <div class="container" id="main"></div>

  <!-- Including the Google Maps API and the GMaps library -->
  
 	<!--script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlDfpfTUuwJOXtHkZv01Z8dfGsY1v_an8"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.12/gmaps.min.js"></script>
  <!--compilled reactjs-->
  <script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=f68a292768c200951256210d086ef3e4"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}">
{% endblock %}